.row3 {
    margin-top: 20px;
}
.portfoliobox {
    border-bottom: 3px solid #777777;
}
h2 {
    font-size: 30px;
    text-align: center;
    color: black;
    line-height: 50px;
    padding-left: 15px;
    font-family: 'Josefin Sans', sans-serif;
}
.projectTitle {
text-decoration: none;
font-family: 'Josefin Sans', sans-serif;
color: white;
}

.projectTitle:hover {
    color: goldenrod;
    text-decoration: none;
}

.contentbox {
    background-color: #ffffff;
    text-align: left;

}
.picborder {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0;
    margin-left: 0;
    font-family: 'Fjalla One', sans-serif;
}
.picbox {
    width: 300px;
    height: 120%;
    margin-top:30px;
    margin-right: auto;
    margin-left: auto;
}
.pic {
width: 300px;
height: 300px;
border: 1px solid #dddddd;
position: relative;
z-index: 0;
}
.pic5, .pic4 {
    height: 150px !important;
}
.pic6 {
    height: 100px !important;
}
.picbanner {
    height: 40px;
    font-size: 30px;
    width: 300px;
    background-color: rgb(53, 53, 53);
    color: #ffffff;
    text-align: center;
    z-index: 1;
}
.picbanner2{
    height: 40px;
    font-size: 12px;
    width: 300px;
    background-color: rgb(53, 53, 53);
    color: #ffffff;
    text-align: center;
    position: absolute;
    z-index: 1;
}
.description{
    font-size: 15px;
    height: 0;
}
.github {
    font-size: .8em;
}
.footer {
bottom: 0;
background-color: #666666;
border-top: 8px solid #4aaaa5;
width: 100%;
text-align: center;
color: #ffffff;
}
.github{
    text-decoration: none;
    height: 20px
}

