body {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

.header {
    text-align: center;
    font-size: 1.5em;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.content{
    color: white;
    font-size: 1.2em;
    line-height: 1.5em;
    font-family: 'Josefin Sans', sans-serif;
}
.row4{
    background-color: rgb(53, 53, 53);
}

.matt {
    width: 25%;
    height: auto;
    border-radius: 50%;
    border: 1px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.mattbox {
    padding: 0;
}
.text-muted {
    color: #ffffff;
}
.carousel{
    margin: auto;
}

.selected{
    background-color: rgb(53, 53, 53);
}