

.row3 {
    display: inline;
}
.containerbox {
    background-color: #ffffff;
    margin-left: 45px;
    margin-top: 20px;
    position: absolute;
}
h2 {
    font-size: 30px;
    color: #4aaaa5;
    line-height: 50px;
    padding-left: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: left;
}
.row2b {
    padding-left: 15px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;

}
.row2c {
    padding-left: 15px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
}
.row2d {
    padding-left: 15px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
}
.mail {
    height: 50px;
    color: black;
}
.mail:hover{
    color:goldenrod;
}
.mailText{
    text-align: center;
}

.footer {
position: fixed;
bottom: 0;
background-color: #666666;
border-top: 8px solid #4aaaa5;
width: 100%;
text-align: center;
color: #ffffff;
}
/* Body Tablet size */

.mailIcon {
height: 100px;
width: 100%;
}
