.directory {
    text-align: center;
}

.row1 {
    margin: 0;
    padding: 0;
    height: 100% !important;
    width: 100%;
    background-color: black;
}
.row{
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important
}

.row2 {
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100% !important;
    width: 100%;
}
.namecontainer {
    padding-right: 0;
    background-color: black;
}
.namebox {
    color: #ffffff;
    text-align: center;
    font-size: 45px;
    line-height: 98px;
    margin-left: 20px;
    font-family: 'Josefin Sans', sans-serif;

}

.linkbox {
    padding: 0;
    background-color: transparent;
}
.links {
    float: center;
    margin: 0;
    padding: 0;    
}
.linklines {
    color: white;
    padding: 5px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
}
.navbar {
    line-height: 80px;
    margin: 0;
}
.linklines:hover {
    color: goldenrod;
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    .mobileHidden{
        display: none;
    }
    .contentbox{
        margin:auto;
    }
}